# App secret
DB_PASSWORD=your-strong-password

# MariaDB secrets
MYSQL_ROOT_PASSWORD=your-root-password
# MariaDB also needs MYSQL_PASSWORD if you set MYSQL_USER (which we do)
# same as DB_PASSWORD
MYSQL_PASSWORD=your-strong-password

# Optional: seed admin credentials
# AUTH_PRESET_USERNAME=admin
# AUTH_PRESET_PASSWORD=admin123