# PostgreSQL
POSTGRES_DB=authentik
POSTGRES_USER=authentik

AUTHENTIK_POSTGRESQL__HOST=127.0.0.1
AUTHENTIK_POSTGRESQL__PORT=5432
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik

# Email (optional)
AUTHENTIK_EMAIL__FROM=authentik@a.com
AUTHENTIK_EMAIL__USE_TLS=false

# Outpost – embedded forwardAuth
AUTHENTIK_OUTPOSTS__EMBEDDED__ENABLED=true
AUTHENTIK_OUTPOSTS__EMBEDDED__BASE_URL=http://authentik.main.home/

# Trusted proxies
AUTHENTIK_TRUSTED_PROXIES=0.0.0.0/0
AUTHENTIK_DISABLE_UPDATE_CHECK=true